In [ ]:
a = (5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
b = (6.5, 5.9, 2.0)
print(b)

(6.5, 5.9, 2.0)

In [ ]:
c = ("one", "two", "three")
print(c)

('one', 'two', 'three')

In [ ]:
mix = ("hello", 708, 66.8, 1, 2)
mix

('hello', 708, 66.8, 1, 2)

In [ ]:
a = (1, 2, 3, 4, "hello")
print(a[4])

hello

In [ ]:
a = {
    "name" : "Joy",
    "age" : 20,
    "education" : "engineering"
}
print(a)
type(a)

{'name': 'Joy', 'age': 20, 'education': 'engineering'}

dict

In [ ]:
len(a)

3

In [ ]:
x = a.keys()
x

dict_keys(['name', 'age', 'education'])

In [ ]:
y = a.values()
y

dict_values(['Joy', 20, 'engineering'])

In [ ]:
z = a.items()
z

dict_items([('name', 'Joy'), ('age', 20), ('education', 'engineering')])

In [ ]:
set1 = {1, 2, 3, 4}
print(set1)

{1, 2, 3, 4}

In [ ]:
set = {1 ,2 ,3 ,4 ,5 ,6 ,7 ,7 ,1 ,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
len(set)

7

In [ ]:
type(set)

set

In [ ]:
def add():
  a  = 2
  b = 3
  sum = a + b
  return sum
add()
print(add())

5